// theme colors
$primary: #444a38 !default;
$primary-light: #656501 !default;
$primary-dark:  #424201 !default;
$secondary: #ffa600 !default;
$tertiary: #96b950 !default;
$white: #e8e8e8 !default;
$gray: #777 !default;
$darkgray: #181818 !default;
$olive: #808000 !default;
$blue: #0d6efd !default;
$blue-light: #326dee !default;
$blue-dark: #1919e6 !default;
$green: #0ccd09 !default;
$error: #d32752 !default;
$info: #a0ec03 !default;
$black: #000 !default;

// color palette
$colors: (
        "primary": $primary,
        "secondary": $secondary,
        "tertiary": $tertiary,
        "error": $error,
        "info": $info,
        "blue": #0d6efd,
        "red": #e61919,
        "yellow": #e6e619,
        "green": #19e635,
        "darkgreen": #444a38,
        "orange": #ffa600,
        "olive": #808000,
        "purple": #9900ff,
        "gray": #808080,
        "lightgray": #2c2b2b,
        "darkgray": #181818,
        "black": #000,
        "white": #e8e8e8,
) !default;

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font sizes
$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;

// FONT
//$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;